.body {
  background-image: url("../../../assets/fitness.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.home-page {
  display: flex;
  height: 100vh;
  padding-top: 92px;
}

.title-container {
  display: none;
  min-width: 35%;
  align-self: flex-end;
  margin-right: 3rem;
  border-radius: 6px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

@media only screen and (min-width: 700px) {
  .subtitle {
    font-size: 6rem;
  }

  .title-container {
    width: 500px;
    align-self: flex-end;
    margin-right: 3rem;
    border-radius: 6px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(16, 18, 27, 0.6);
  }
}
